body {
	margin: auto;
	position: relative;
	
	background-color: lightgray;
}

h1{
	font-size: 32px;
	color: white;
	padding: 50px;
	text-align: center;
	background-color: crimson;
	font-family:'Book Antiqua'

}

#controls, #result{
	padding: 10px;
	margin: auto;
	width:500px;
}

